{% for p in people.slice(0,limit) %}
	{% if p.days == 0 %}
		<div class="blue">Grattis {{p.name}}!</div>
	{% elseif p.days == 1 %}
		<div class="white">{{p.name}} fyller år</br></div>
		<div class="blue"><td>i morgon</td></div>
	{% else %}
		<div class="white">{{p.name}} fyller år</br></div>
		<div class="blue">{{p.days}} dagar kvar</div>
	{% endif %}
{% endfor %}
